.container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    box-sizing: border-box;
}


.cell {
    width: calc(100% / var(--size, 16));
    padding-bottom: calc(100% / var(--size, 16)); /* makes the cell square */
    box-sizing: border-box;
    border: 1px solid #eee;
    background: #fff;
}
